{% load leaflet_tags %}
<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <style>
            .leaflet-container {height: 100vh;}
        </style>
        <script>
            var dataurl = '{% url "data" %}';
            window.addEventListener("map:init", function (event) {
                var map = event.detail.map;
                fetch(dataurl)
                .then(function(resp) {
                    return resp.json();
                })
                .then(function(data) {
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {
                            var props = feature.properties;
                            var content = `<h3>"${props.nama}"</h3><h3>${props.pemilik}</h3><p>${props.jenis}</p>`;
                            layer.bindPopup(content);
                    }}).addTo(map);
                });
            });
        </script>
    </head>
    <body>
        {% leaflet_map "main" %}
    </body>
</html>